.App {
  text-align: center;
}

.input {
  width: 80%;
  height: 30px;
  border: solid 1px;
  border-radius: 2px;
  outline-style: none;
  text-align: center;
}

.pokemon__card {
	display: grid;
	grid-row-gap: 40px;
  grid-column-gap: 100px;
	grid-template-columns: 1fr;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.pokemon__card-front {
	 display: flex;
   flex-direction: column;
   width: 60%;
   align-content: center;
   justify-content: center;
   margin: auto;
   border: 1px solid;
   border-radius: 7px;
   background-color: #ffffff;
}

.pokemon__card-back {
  display: block;
}

.pokemon__name {
  text-transform:capitalize;
}

.pokemon__image {
  width: 100px;
  height: 100px;
  margin: auto;
}

.info-btn {
  width: 60%;
  height: 20px;
  border: solid 1px #EF1C2D;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #F9E620;
  outline-style: none;
  cursor: pointer;
}

.pokemon__characters {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

@media all and (min-width: 400px) {
  .pokemon__card {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      grid-column-gap: 10px;
  }

  .pokemon__card-front {
     width: 80%;
  }
}

@media all and (min-width: 600px) {
  .pokemon__card {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
  }

  .pokemon__card-front {
     width: 80%;
  }
}


@media all and (min-width: 1000px) {
  .pokemon__card {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  }

  .pokemon__card-front {
     width: 80%;
  }
}

@media all and (min-width: 1400px) {
  .pokemon__card {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  }

  .pokemon__card-front {
     width: 80%;
  }
}
