.App {
  text-align: center;
  background: url('../images/pikachu.jpg') center no-repeat;
}

.App__background {
  background-size: cover;
  background-repeat: no-repeat;
}

.input {
  width: 80%;
  height: 30px;
  border: solid 1px;
  border-radius: 2px;
  outline-style: none;
  text-align: center;
}

.pokemons__list {
	list-style: none;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.pokemons__container {
	 display: flex;
   flex-direction: column;
   width: 60%;
   align-content: center;
   justify-content: center;
   margin: auto;
   border: 1px solid;
}
