.App {
  text-align: center;
}

.App__background {
  background-size: cover;
  background-repeat: no-repeat;
}

.input {
  width: 80%;
  height: 30px;
  border: solid 1px;
  border-radius: 2px;
  outline-style: none;
}
